@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

@keyframes move {
  from {
    left: 0%;
  }

  to {
    left: 80%;
  }
}

.move {
  background-color: $white;
  filter: blur(20px);
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 100%;
  animation: move 3s ease-out 0.5s infinite alternate-reverse;
  z-index: -1;
}

#listing_detail_traffic,
#listing_detail_earnings,
#listing_detail_details,
#listing_detail_overview {
  scroll-margin-top: 90px;
}

// LISTING DETAIL HEADER
.listing_detail_menu-section {
  background-color: rgba(245, 245, 245, 1);
  position: sticky;
  top: 0;
  z-index: 1;
}

.listing_detail_menu {
  padding: 18px 0;
  @include flex-row-center;
  justify-content: space-between;

  .btn {
    background-color: $gold;
    padding: 11.5px 45px;
  }
}

.listing_detail_menu-left {
  @include flex-row-center;
  gap: 40px;

  .back_btn {
    @include flex-row-center;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 100px;
    border: 1px solid rgba(245, 245, 245, 1);
    background-color: $white;
  }

  div {
    @include flex-row;
    gap: 32px;
    padding-bottom: 6px;

    button {
      @include accent2(400);
      color: $black;
      position: relative;
      transition: left 0.3s ease-in-out;

      &::before {
        @include lineAbsolute;
        overflow-x: hidden;
        width: 0;
        bottom: -6px;
        transition: transform 0.3s ease-in-out;
        left: 10%;
        right: unset;

        transform: scaleX(0);
        transform-origin: left;
      }

      &.active {
        &::before {
          width: 80%;
          transform: translateX(10%);
          transform: scaleX(1);

          // transform-origin: right;
        }
      }
    }
  }
}

// LISTING DETAIL MOBILE
@media screen and (max-width: 768px) {
  .listing_detail_menu {
    .btn {
      display: none;
    }
  }

  .listing_detail_menu-left {
    gap: 24px;

    .back_btn {
      width: 40px;
      height: 40px;
    }

    div {
      gap: 24px;
      padding-bottom: 4px;

      button {
        @include accent3(400);

        &::before {
          bottom: -4px;
          left: 0;
        }

        &.active {
          &::before {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .listing_detail_menu-left {
    width: 100%;
  }
}

@media screen and (max-width: 380px) {
  .listing_detail_menu-left {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    div {
      width: 100%;
      flex-wrap: wrap;
    }
  }
}

// LISTING DETAIL CONTAINER
.listing_detail_container {
  padding-top: 48px;
  padding-bottom: 66px;
  @include flex-row;
  gap: 40px;
  position: relative;
}

.listing_detail {
  background-color: $white;
  width: 65%;
  @include flex-col;
  gap: 24px;

  h3 {
    @include h3(500);
    color: $black;

    @media screen and (max-width: 1024px) {
      @include h5(500);
    }
  }

  .seller_details {
    display: none;
  }
}

.listing_detail_save {
  @include flex-row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  width: 100%;

  span {
    @include flex-row-center;
    gap: 6px;
    color: $black;
    @include accent2(400);

    @media screen and (max-width: 1024px) {
      @include accent3(400);
    }
  }

  div {
    @include flex-row;
    gap: 20px;

    span {
      &:nth-of-type(3) {
        color: rgba(102, 102, 102, 1);
      }
    }
  }
}

.listing_detail_img {
  @include flex-col;
  gap: 20px;

  width: 100%;
}

.detail_img {
  @include flex-row;
  gap: 24px;
  width: 100%;
  height: 100%;
}

.cover_photo {
  background-color: rgba(153, 153, 153, 0.1);
  width: 50%;
  aspect-ratio: 2 / 1;

  position: relative;
  z-index: 0;

  &:only-child {
    width: 100%;
  }

  img {
    object-fit: unset;
    width: 100%;
    height: 100%;
  }
}

.detail_photo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  aspect-ratio: 2 / 1;
  // height: 100%;

  div:only-child {
    width: 100%;
    height: 100%;
  }

  .detail_photo-item {
    display: flex;
    gap: 20px;
    width: 100%;
    height: calc(100% / 2);

    &:only-child {
      height: 100%;
    }

    div {
      background-color: rgba(153, 153, 153, 0.1);
      position: relative;
      z-index: 0;
      width: 50%;
      height: 100%;

      &:only-child {
        width: 100%;
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.listing_detail_tags {
  @include flex-row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;

  .tags {
    @include flex-row;
    flex-wrap: wrap;
    gap: 8px;

    span {
      text-transform: capitalize;
      padding: 4px 16px;
      border-radius: 100px;
      color: $white;
      background-color: rgba(153, 153, 153, 1);
      @include accent3(400);
    }
  }

  .verification {
    @include flex-row;
    align-items: center;
    gap: 6px;
    padding: 1px 16px;
    border-radius: 100px;
    @include accent3(400);
    color: $white;

    &.verified {
      background-color: $success;
    }

    &.unverified {
      background-color: rgba(153, 153, 153, 1);
    }
  }
}

.listing_detail_valuation {
  @include flex-row;
  gap: 20px;
  min-height: 88px;
  width: 100%;
}

.listing_detail_valuation_item {
  @include flex-col;
  height: 100%;
  justify-content: space-between;
  gap: 25px;
  border-radius: 4px;
  padding: 10px;
  background-color: $white;
  border: 1px solid rgba(245, 245, 245, 1);
  width: 50%;

  &:first-of-type {
    background-color: $teal-10;
    width: 70%;
  }

  div {
    @include flex-row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

    span {
      color: $green;
      @include accent4(500);
      padding: 2px 8px;
      background-color: $white;
      border-radius: 100px;
    }
  }
}

.listing_value {
  @include p1(500);
  color: $black;
}

.listing_value-desc {
  @include accent3(500);
  color: $green;
}

.listing_about,
.listing_chart {
  @include flex-col;
  border: 1px solid rgba(195, 195, 195, 1);
  border-radius: 4px;
}

.listing_about-header,
.listing_chart-header {
  @include flex-row-center;
  justify-content: space-between;
  padding: 14.5px 20px;
  border-bottom: 1px solid rgba(195, 195, 195, 1);

  p {
    @include accent1(500);
    color: $black;
  }
}

.listing_about-desc {
  padding: 16px 20px 20px;

  p {
    @include accent2(300);
    color: rgba(51, 51, 51, 1);

    @media screen and (max-width: 1024px) {
      @include accent3(300);
    }
  }
}

// LISTING CHART
.listing_chart-header {
  div {
    @include p3(400);
    @include dm-sans;
    @include flex-row-center;
    gap: 8px;
    padding: 6px 9.5px;
    border-radius: 4px;
    border: 1px solid rgba(195, 195, 195, 1);
  }
}

.listing_chart-desc {
  padding: 20px;
  @include flex-col;
  gap: 20px;

  height: 220px;
}

.listing_info {
  @include flex-col;
  gap: 20px;
  padding: 24px 20px;
  border: 1px solid rgba(195, 195, 195, 1);
  border-radius: 4px;

  .line {
    border-top: 1px solid rgba(195, 195, 195, 1);
  }
}

.listing_info-item {
  @include flex-col;
  gap: 16px;

  p {
    @include accent1(500);
  }

  ul {
    list-style-position: inside;
    list-style-type: disc;
  }

  li {
    @include accent2(300);
    margin-left: 10px;
    color: $black;

    @media screen and (max-width: 1024px) {
      @include accent3(300);
    }
  }
}

// SELLER DETAILS
.seller_details {
  position: sticky;
  top: 48px;

  width: 35%;
  height: fit-content;
  background-color: $white;
  padding: 28px;
  border: 1px solid rgba(195, 195, 195, 1);
  border-radius: 8px;
}

.seller_details_container {
  @include flex-col;
  gap: 20px;

  .line {
    width: 100%;
    border-top: 1px solid rgba(195, 195, 195, 1);
  }
}

.contact_seller {
  @include flex-col;
  gap: 12px;

  h6 {
    @include h6(500);
  }
}

.contact_seller_item {
  padding: 14px 30px 14px 16px;
  @include flex-row-center;
  justify-content: space-between;
  border: 1px solid $teal-20;
  background-color: $teal-10;
  border-radius: 4px;

  svg {
    path {
      fill: $black;
    }
  }
}

.contact_seller_item_left {
  @include flex-row-center;
  gap: 10px;

  .owner_img {
    width: 60px;
    height: 60px;
    border-radius: 60px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 100px;
    }
  }

  .owner_details {
    @include flex-col;

    p {
      @include accent2(500);
      color: $black;

      &:nth-of-type(2) {
        @include accent3(300);
      }
    }

    span {
      color: rgba(102, 102, 102, 1);
      @include accent4(400);
    }
  }
}

.business_started {
  @include flex-col;
  gap: 12px;

  h6 {
    @include h6(500);
    color: $black;
  }
}

.business_started_item {
  @include flex-row-center;
  justify-content: space-between;

  div {
    @include flex-col;
    gap: 5px;

    p {
      @include accent2(300);
      color: rgba(51, 51, 51, 1);
    }

    span {
      @include accent3(300);
      color: rgba(102, 102, 102, 1);
    }
  }
}

.access_service {
  @include flex-col;
  gap: 12px;

  h6 {
    @include h6(500);
  }
}

.access_service_item {
  @include flex-row-center;
  justify-content: space-between;
  gap: 20px;
  border: 1px solid rgba(245, 245, 245, 1);
  border-radius: 4px;
  padding: 14px 16px;
}

.access_service_text {
  @include flex-col;
  gap: 4px;
  max-width: 292px;

  p {
    @include accent2(400);
    color: rgba(51, 51, 51, 1);
  }

  span {
    @include accent4(500);
    color: rgba(102, 102, 102, 1);
  }
}

.access_service_btn {
  @include flex-row-center;
  height: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 40px;
  background-color: $teal-10;

  svg {
    path {
      fill: $black;
    }
  }
}

@media screen and (max-width: 1325px) {
  .listing_detail_body {
    padding-left: 40px;
    padding-right: 40px;
  }

  .page_width.listing_detail_container {
    max-width: 100%;
  }

  .listing_detail {
    width: 60%;
  }

  .seller_details {
    width: 40%;
  }
}

@media screen and (max-width: 1160px) {
  .listing_detail_body {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 1160px) {
  .listing_detail_container {
    flex-direction: column;
  }

  .seller_details {
    display: none;
  }

  .listing_detail {
    width: 100%;

    .seller_details {
      display: flex;
      position: relative;
      top: 0;
      width: 100%;

      .seller_details_container {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .listing_detail_container {
    padding: 24px 0 44px;
  }

  .listing_detail {
    .seller_details {
      padding: 24px 20px;
    }

    .contact_seller_item {
      padding: 14px 16px;
      gap: 11px;
    }

    .business_started_item {
      gap: 10px;
      flex-wrap: wrap-reverse;

      div {
        p {
          @include accent3(300);
        }

        span {
          @include accent4(300);
        }
      }
    }

    .access_service_text {
      max-width: 244px;
    }

    .access_service_btn {
      height: 32px;
      aspect-ratio: 1 / 1;
      border-radius: 40px;
    }
  }
}

@media screen and (max-width: 810px) {
  .detail_img {
    flex-direction: column;
  }

  .cover_photo {
    width: 100%;
    aspect-ratio: 2 / 1;
  }

  .detail_photo {
    width: 100%;
    aspect-ratio: 2 / 1;

    div:only-child {
      width: 100%;
      height: 100%;
    }

    .detail_photo-item {
      gap: 12px;

      height: calc(100% / 2);

      &:only-child {
        height: 100%;
      }
    }
  }

  .listing_detail_valuation {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(70px, 1fr));
    grid-template-rows: auto auto auto;

    min-height: unset;
    height: max-content;
  }

  .listing_detail_valuation_item {
    position: relative;
    width: 100%;
    height: fit-content;

    &:first-of-type {
      width: 100%;
      grid-column: 1 / 3;
      grid-row: 1;
    }

    &:nth-of-type(2),
    &:nth-of-type(3) {
      width: 100%;
      grid-row: 2;
    }

    &:last-of-type {
      width: 100%;
      grid-column: 1 / 3;
      grid-row: 3;
    }
  }
}

@media screen and (max-width: 225px) {
  .listing_detail_valuation {
    display: flex;
    flex-direction: column;
  }
}
