@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

@keyframes move {
  from {
    left: 0%;
  }

  to {
    left: 100%;
  }
}

// LISTING CARD
.listingCard {
  @include flex-col;
  gap: 16px;
  padding: 20px;
  background-color: $white;
  border: 1px solid rgba(153, 153, 153, 1);
  border-radius: 8px;
}

.listingCard_image {
  width: 100%;
  aspect-ratio: 1.5 / 1;
  background-color: rgba(153, 153, 153, 0.1);
  overflow: hidden;
  position: relative;
  z-index: 0;

  .move {
    background-color: $white;
    filter: blur(20px);
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 100%;
    animation: move 3s ease-out 0.5s infinite alternate-reverse;
    z-index: -1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.listingCard_content {
  @include flex-col;
  gap: 12px;

  h5 {
    @include h5(500);
    color: $black;
    line-height: 100%;

    text-overflow: ellipsis;
    overflow: hidden;
    // white-space: nowrap;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.listingCard_save {
  @include flex-row;
  justify-content: space-between;

  .location-container {
    width: 50%;
  }

  .location {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  span {
    @include flex-row-center;
    gap: 6px;
    @include accent2(400);
    color: $black;

    &:nth-of-type(2) {
      gap: 4px;
      color: $gray-2;
      cursor: pointer;
    }
  }
}

.listingCard_tags {
  @include flex-row;
  gap: 8px;

  span {
    text-transform: capitalize;
    background-color: $gray-3;
    color: $white;
    @include accent4(400);
    padding: 3px 12px;
    border-radius: 100px;
  }
}

.listingCard_profitability {
  display: grid;
  grid-template-columns: repeat(4, minmax(80px, 1fr));
  // @include flex-row;
  // flex-wrap: wrap;
  gap: 10px;
}

.listingCard_profitability_item {
  padding: 10px;
  border: 1px solid rgba(245, 245, 245, 1);
  border-radius: 4px;
  @include flex-col;
  gap: 6px;
  // width: calc(100% - 11px);
  background-color: $white;

  &:first-of-type {
    grid-column: 1 / 3;
    background-color: rgba(22, 153, 127, 0.1);
    border: 1px solid rgba(22, 153, 127, 0.1);
  }

  &.price-drop {
    background-color: rgba(245, 245, 245, 1);
    border: 1px solid rgba(245, 245, 245, 1);
  }

  .listingCard_profitability_item-text {
    @include p1(500);
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    // white-space: nowrap;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  div {
    @include flex-row;
    justify-content: space-between;
    color: $green;

    p {
      @include accent3(500);
    }

    span {
      @include accent4(500);
      padding: 2px 8px;
      background-color: rgba(245, 245, 245, 1);
      border-radius: 100px;
    }
  }
}

@media screen and (max-width: 450px) {
  .listingCard_profitability {
    grid-template-columns: repeat(4, minmax(40px, 1fr));
  }

  .listingCard_profitability_item {
    &:first-of-type {
      grid-column: 1 / 3;
    }

    &:nth-of-type(2) {
      grid-column: 3 / 5;
    }

    &:last-of-type {
      grid-column: 1 / 5;
    }
  }
}

@media screen and (max-width: 290px) {
  .listingCard_profitability {
    display: flex;
    flex-direction: column;
  }
}
