@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.similar_listings {
  @include flex-col;
  gap: 32px;
  padding-bottom: 66px;

  h2 {
    @include h2(600);
  }
}

.swiper-pagination-progressbar.swiper-pagination-horizontal {
  width: 100%;
}
