@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.similar_listings {
  @include flex-col;
  gap: 32px;
  padding-bottom: 66px;

  @media screen and (max-width: 1024px) {
    gap: 24px;
    padding-bottom: 44px;
  }

  h2 {
    @include h2(600);

    @media screen and (max-width: 1024px) {
      @include h4(500);
    }
  }
}

.swiper-pagination-progressbar.swiper-pagination-horizontal {
  width: 100%;
}
