@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.section_footer {
  border-top: 1px solid rgba(102, 102, 102, 1);
}

.footer {
  @include flex-row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 0 48px;

  .container {
    width: fit-content;
  }
}

.footer_logo-section {
  @include flex-col;
  gap: 18px;
  @include p2(300);

  aside {
    @include flex-col;
    gap: 12px;

    svg:nth-of-type(2) {
      display: none;
    }
  }

  span {
    border-top: 1px solid rgba(102, 102, 102, 1);
  }

  div {
    @include flex-row;
    gap: 8px;
  }
}

.footer_links-section {
  @include flex-col;
  gap: 19px;

  div {
    @include flex-row;
    justify-content: space-between;
    gap: 56px;
  }

  h6 {
    @include h6(500);
  }

  ul {
    list-style-type: none;
    @include flex-col;
    gap: 12px;
    @include accent2(300);
    width: fit-content;

    li {
      width: fit-content;
      //   line-height: 100%;
    }
  }
}

.footer_news {
  @include flex-col;
  gap: 4px;

  h6 {
    @include h6(500);
  }

  .form {
    @include flex-col;
    gap: 10px;

    p {
      @include p3(300);
    }

    input {
      @include input-text;
      @include input-style;
    }

    .error,
    .success {
      font-size: 12px;
      color: $error;
    }

    .success {
      color: $green;
    }
  }
}

@media screen and (max-width: 1200px) {
  .section.section_footer {
    padding: 0 24px;
  }

  .footer_links-section {
    div {
      gap: 20px;
    }
  }
}

@media screen and (max-width: 1080px) {
  .page_width.footer {
    padding: 40px 0;
    width: 100%;
    max-width: 100%;

    .container {
      width: 100%;
    }
  }

  .footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 40px;

    .container {
      width: 100%;
    }
  }

  .footer_logo-section {
    width: 100%;
    order: 4;

    aside {
      svg:nth-of-type(1) {
        display: none;
      }

      svg:nth-of-type(2) {
        display: block;
      }
    }
  }

  .footer_news {
    order: 1;
  }

  .footer_links-section {
    &:first-of-type {
      order: 3;
    }

    &:nth-of-type(2) {
      order: 1;
    }

    div {
      justify-content: flex-start;
      gap: 56px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer_links-section {
    ul {
      @include accent3(300);
    }
  }
}
