@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

@keyframes move {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.onboarding_section {
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 640px;
  position: relative;
  z-index: 0;
  align-content: center;
}

.onboarding__bg-img {
  @include overlay(unset);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.onboarding_container {
  justify-self: center;
  max-width: 840px;
  width: 100%;
  background-color: $white;
  border-radius: 8px;
  padding: 32px 40px 36px;

  @include flex-col-center;
  gap: 24px;

  h4 {
    @include h4(500);
    color: $black;
    @include flex-col;
    align-items: center;
    text-align: center;
    gap: 4px;

    span {
      @include accent2(300);
      color: rgba(102, 102, 102, 1);
      font-style: italic;
    }
  }
}

.onboarding_questions {
  @include flex-col;
  gap: 20px;
  width: 100%;
}

.onboarding_options {
  @include flex-row;
  gap: 20px;
}

.onboarding_options-item {
  width: 100%;
  @include flex-col;
  gap: 12px;
  border: 1px solid rgba(153, 153, 153, 1);
  padding: 24px;
  border-radius: 4px;
  cursor: pointer;
  background-color: $white;

  transition: background-color 0.4s ease-in-out;

  &.active {
    background-color: $gold-20;
  }

  div {
    @include flex-col;
    gap: 8px;

    p {
      @include accent1(500);
      color: $black;
    }

    span {
      @include accent3(300);
      color: rgba(51, 51, 51, 1);
    }
  }
}

.onboarding_info {
  @include flex-row;
  align-items: flex-start;
  width: 100%;
  gap: 12px;

  svg {
    min-width: 22px;
  }

  p {
    @include accent2(300);
    color: $black;
  }
}

.onboarding_buttons {
  width: 100%;
  @include flex-row;
  justify-content: space-between;

  .btn {
    height: 44px;
    gap: 14px;
  }

  .btn-secondary {
    border: 0;
  }
}

// ONBOARDING SECTION MOBILE
@media screen and (max-width: 768px) {
  .onboarding_section {
    padding-top: 44px;
    padding-bottom: 44px;
    min-height: unset;
  }

  .onboarding_container {
    padding: 0;
    border-radius: 0;
    gap: 20px;

    h4 {
      @include h5(500);

      span {
        @include accent3(300);
      }
    }
  }

  .onboarding__bg-img {
    display: none;
  }

  .onboarding_options-item {
    gap: 10px;

    div {
      gap: 6px;

      p {
        @include accent2(500);
      }

      span {
        @include accent4(300);
      }
    }
  }

  .onboarding_info {
    gap: 10px;

    p {
      @include accent3(300);
    }
  }
}

@media screen and (max-width: 640px) {
  .onboarding_options {
    flex-direction: column;
    gap: 16px;
  }
}

// PREFERENCES SECTION
.onboarding_industries {
  width: 100%;
  @include flex-row;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;

  span {
    text-transform: capitalize;
    cursor: pointer;
    padding: 6px 18px;
    @include accent2(400);
    color: $black;
    height: 33px;
    border-radius: 100px;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    background-color: rgba(245, 245, 245, 1);

    &.active {
      background-color: $gold;
      color: $white;
    }
  }
}

@media screen and (max-width: 768px) {
  .onboarding_industries {
    gap: 14px;

    span {
      padding: 6px 16px;
      @include accent3(400);
    }
  }
}

// PREERNCES SUCCESSFUL
.preferences_successful_container {
  background-color: $white;
  border-radius: 8px;
  @include flex-col-center;
  gap: 10px;
  padding: 20px;
  position: absolute;
  top: 20px;
  right: 5%;
  max-width: 300px;
  width: 100%;
  min-height: 100px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &.visible {
    opacity: 1;
  }

  .bar {
    position: absolute;
    width: calc(100% - 16px);
    height: 2px;
    background-color: $green;
    left: 8px;
    top: 0;

    animation: move 15s alternate infinite linear;
  }

  p {
    @include accent3(300);
  }

  svg {
    width: 28px;
    height: 28px;
    fill: $green;
  }
}
