@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// SEARCH FORM SECTION
.section_search {
  background-color: rgba(245, 245, 245, 1);
  position: sticky;
  top: 0;
  z-index: 2;
}

.loading_section {
  padding-top: 40px;
}

.search_form {
  padding: 18px 0;

  form {
    width: 100%;
    @include flex-row;
    gap: 24px;

    input {
      @include input-style;
      @include input-text;
      width: 100%;
    }

    .select {
      width: 70%;

      .select_container {
        height: 44px;
      }

      .arrow {
        right: 10px;
      }
    }

    .btn {
      border-radius: 0;
      height: 44px;
      padding: 13px 42.5px;
    }

    .btn-primary {
      background-color: $gold;
      border-radius: 4px;
      padding: 11px 63px;
    }
  }
}

// SEARCH HEADER SECTION
.section_header {
  border-bottom: 1px solid rgba(195, 195, 195, 1);
}

.search_header {
  padding: 20px 0;
  justify-content: space-between;

  h3 {
    @include h3(600);
    text-transform: capitalize;
  }
}

.search_sort {
  @include flex-row-center;
  gap: 20px;

  .btn {
    border-radius: 0;
    height: 40px;
    padding: 11px 36.5px;
  }
}

.sort_text {
  @include accent3(400);

  span {
    color: $green;
  }
}

.sort_container {
  @include flex-col;

  position: relative;
  z-index: 1;

  div {
    @include flex-col;
    width: 100%;
    padding: 4px 10px;
    background-color: $white;
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    border: 1px solid rgba(153, 153, 153, 1);

    transform: scaleY(0);

    transition: height 0.4s ease, transform 0.4s ease;
    transform-origin: top;

    button {
      height: 44px;
      @include flex-row;
      align-items: center;
      padding-left: 10px;
      @include accent3(300);
      text-transform: uppercase;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.1s ease;

      &:first-child {
        border-bottom: 1px solid rgba(153, 153, 153, 1);
      }
    }

    &.visible {
      transform: scaleY(1);

      button {
        pointer-events: all;
        opacity: 1;
      }
    }
  }
}

// SEARCH PAGE
.search_page {
  @include flex-col;
  gap: 40px;
  padding-bottom: 66px;
}

// LISTING SECTION
.listing_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  // place-items: center;
  place-content: center;
  column-gap: 34px;
  row-gap: 28px;

  .listingCard:only-child {
    max-width: 404px;
  }
}

// PAGINATION SECTION
// .pagination_section {
// }

.pagination_container {
  @include flex-row-center;
  justify-content: space-between;
}

.pagination {
  display: flex;
  height: 44px;
  border: 1px solid rgba(153, 153, 153, 1);
}

.pagination_btn {
  @include flex-row-center;
  border-right: 1px solid rgba(153, 153, 153, 1);
  color: rgba(102, 102, 102, 1);
  @include accent2(300);
  transition: background-color 0.1s ease-in-out;
  padding-left: 14px;
  padding-right: 14px;
  cursor: pointer;

  &:last-of-type {
    color: $black;
    border-right: 0;
  }

  &.active,
  &:hover {
    background-color: $gold;
    color: $white;
  }
}
