$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$blue: rgba(30, 77, 216, 1);
$green: rgba(22, 153, 127, 1);
$gray-1: rgba(51, 51, 51, 1);
$gray-2: rgba(102, 102, 102, 1);
$gray-3: rgba(153, 153, 153, 1);
$gray-4: rgba(245, 245, 245, 1);
$gold: rgba(243, 156, 18, 1);
$gold-10: rgba(243, 156, 18, 0.1);
$gold-20: rgba(243, 156, 18, 0.2);
$gold-40: rgba(243, 156, 18, 0.4);
$gold-60: rgba(243, 156, 18, 0.6);
$gold-80: rgba(243, 156, 18, 0.8);
$success: rgba(39, 174, 96, 1);
$error: rgba(231, 76, 60, 1);
$teal-10: rgba(22, 153, 127, 0.1);
$teal-20: rgba(22, 153, 127, 0.2);
$teal-40: rgba(22, 153, 127, 0.4);
$teal-60: rgba(22, 153, 127, 0.6);
$teal-80: rgba(22, 153, 127, 0.8);
