@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.verification_section {
  padding-top: 88px;
  padding-bottom: 88px;
  min-height: 640px;
  position: relative;
  z-index: 0;
  align-content: center;
}

.verification__bg-img {
  @include overlay(unset);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.verification_container,
.pending_container {
  justify-self: center;
  max-width: 960px;
  width: 100%;
  background-color: $white;
  border-radius: 8px;
  padding: 32px 40px 36px;

  @include flex-col-center;
  gap: 27px;
}

.verification_header {
  @include flex-col;
  gap: 4.5px;
  align-items: center;
  text-align: center;

  h4 {
    @include h4(600);
    color: $black;
    @include flex-row-center;
    gap: 8px;
  }

  span {
    @include accent2(400);
    color: rgba(102, 102, 102, 1);
    font-style: italic;
  }
}

.verification_form {
  width: 100%;
  @include flex-col;
  gap: 16px;
}

.verification_form-field {
  @include flex-row;
  gap: 16px;
}

.verification_form-field-item {
  @include flex-col;
  gap: 8px;
  width: 100%;

  label {
    @include accent2(500);
    color: $black;
  }

  input {
    @include input-text;
    @include input-style;
  }
}

.verification_buttons {
  width: 100%;
  @include flex-row;
  justify-content: space-between;

  .btn {
    height: 44px;
    gap: 14px;
  }

  .btn-secondary {
    border: 0;
  }
}

// PENDING
.pending_container {
  max-width: 840px;
  padding: 48px 40px 40px;

  .btn {
    width: 100%;
  }
}

.pending_header {
  @include flex-col-center;
  gap: 12px;
  color: $black;
  max-width: 480px;
  text-align: center;

  h4 {
    @include h4(600);
  }

  p {
    @include accent2(400);
  }
}
