@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.btn {
  border-radius: 4px;
  padding: 11px 27px;
  @include flex-row-center;
  gap: 8px;
  @include dm-sans;
  height: 40px;
  cursor: pointer;
  text-decoration: none;
}

.btn-medium {
  @include btn-medium;
}

.btm-small {
  @include btn-small;
}

.btn-primary {
  background-color: $green;
  color: $white;
  border: none;
  font-weight: 600;
}

.btn-secondary {
  border: 1px solid rgba(153, 153, 153, 1);
  background-color: $white;
  color: $black;
  font-weight: 500;
}
