@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.loader {
  width: 20px;
  height: 20px;
  border: 2.5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn {
  border-radius: 4px;
  padding: 11px 27px;
  @include flex-row-center;
  gap: 8px;
  @include dm-sans;
  height: 40px;
  cursor: pointer;
  text-decoration: none;

  .loader {
    display: none;
  }
}

.btn-medium {
  @include btn-medium;
}

.btm-small {
  @include btn-small;
}

.btn-primary {
  background-color: $green;
  color: $white;
  border: none;
  font-weight: 500;
}

.btn-secondary {
  border: 1px solid rgba(153, 153, 153, 1);
  background-color: $white;
  color: $black;
  font-weight: 400;
}

.btn:disabled {
  background-color: rgba(153, 153, 153, 1);
  color: $white;
}

.btn:disabled {
  .loader {
    display: inline-block;
  }
}
