@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.login_section {
  padding: 88px 80px;
  background-image: url("../../../public/images/login-bg.jpg");
  background-position: center;
  background-size: cover;
}

.login_container {
  max-width: 840px;
  justify-self: center;
  width: 100%;
  padding: 32px 40px 36px;
  background-color: $white;
  border-radius: 8px;
  @include flex-col;
  align-items: center;
  gap: 24px;

  h4 {
    @include h4(600);
  }
}

.login_buttons {
  @include flex-row;
  gap: 20px;
  width: 100%;

  .btn {
    width: 100%;
    height: 44px;
  }
}

.login_separator {
  @include flex-row-center;
  gap: 12px;
  @include accent2(400);
  width: 100%;

  span {
    height: 1px;
    background-color: rgba(153, 153, 153, 1);
    max-width: 240px;
    width: 100%;
  }
}

.login_form {
  @include flex-col;
  gap: 16px;
  width: 100%;

  .btn {
    height: 44px;
  }
}

.login_form-inputs {
  @include flex-col;
  gap: 20px;
}

.login_form-item {
  @include flex-col;
  gap: 8px;

  label {
    @include label;
  }

  .error {
    @include label;
    color: $error;
    font-size: 12px;
  }

  input {
    @include input-style;
    @include input-text;
  }
}

.forgot_pass {
  @include accent3(400);
  color: rgba(51, 51, 51, 1);
  text-decoration: underline;
  align-self: flex-end;
}

.register_link {
  @include accent2(400);

  span {
    color: $blue;
    text-decoration: underline;
  }
}
