@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.register_section {
  padding-top: 88px;
  padding-bottom: 80px;
  background-image: url("../../../public/images/register-bg.jpg");
  background-position: center;
  background-size: cover;
}

.register_container {
  max-width: 840px;
  justify-self: center;
  width: 100%;
  padding: 32px 40px 36px;
  background-color: $white;
  border-radius: 8px;
  @include flex-col;
  align-items: center;
  gap: 24px;

  h4 {
    @include h4(600);
  }
}

.register_buttons {
  @include flex-row;
  gap: 20px;
  width: 100%;

  .btn {
    width: 100%;
    height: 44px;
  }
}

.register_separator {
  @include flex-row-center;
  gap: 12px;
  @include accent2(400);
  width: 100%;

  span {
    height: 1px;
    background-color: rgba(153, 153, 153, 1);
    max-width: 240px;
    width: 100%;
  }
}

.register_form {
  @include flex-col;
  gap: 14px;
  width: 100%;

  .btn {
    margin-top: 2px;
    height: 44px;
  }
}

.register_form-inputs {
  @include flex-col;
  gap: 20px;
}

.register_form-item {
  @include flex-row;
  gap: 20px;

  div {
    @include flex-col;
    width: 100%;
    gap: 8px;
  }

  label {
    @include label;
  }

  .error {
    @include label;
    color: $error;
    font-size: 12px;
  }

  input {
    @include input-style;
    @include input-text;
  }
}

.agree_terms {
  align-self: flex-start;
  @include flex-col;
  gap: 4px;

  div {
    @include flex-row-center;
    gap: 8px;
    @include accent3(400);
    color: $black;
    width: fit-content;

    input {
      @include checkbox;
    }

    span {
      text-decoration: underline;
      color: $blue;
    }
  }
}

.register_link {
  @include accent2(400);

  a {
    color: $blue;
    text-decoration: underline;
  }

  &.error {
    color: $error;
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .register_container {
    h4 {
      @include h5(500);
    }
  }
}

@media screen and (max-width: 768px) {
  .register_section {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: none;
    background-color: $white;
  }

  .register_container {
    padding: 0;
    border-radius: 0;
    gap: 20px;
  }

  .register_buttons {
    gap: 14px;
  }

  .register_form {
    gap: 16px;
  }

  .register_form-item {
    gap: 16px;
  }

  .register_form-inputs {
    gap: 16px;
  }

  .register_link {
    @include accent3(300);
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  .register_buttons {
    flex-direction: column;
  }

  .register_form-item {
    flex-direction: column;
  }
}
