@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.forgot-password_section {
  padding: 120px 80px;
  background-image: url("../../../public/images/forgot-password-bg.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    @include overlay(rgba(0, 0, 0, 0.25));
  }
}

.forgot-password_container {
  max-width: 960px;
  justify-self: center;
  width: 100%;
  padding: 32px 40px 36px;
  background-color: $white;
  border-radius: 8px;
  @include flex-col;
  align-items: center;
  gap: 24px;
}

.forgot-password_header {
  @include flex-col;
  align-items: center;
  text-align: center;
  gap: 8px;

  h4 {
    @include h4(500);
  }

  p {
    @include accent2(400);
  }
}

.forgot-password_form {
  @include flex-col;
  gap: 16px;
  width: 100%;

  .btn {
    width: 100%;
  }
}

.forgot-password_form-item {
  @include flex-col;
  gap: 8px;

  label,
  .error {
    @include label;
  }

  .error {
    color: $error;
    font-size: 12px;
  }

  input {
    @include input-style;
    @include input-text;
  }
}

.form_error {
  width: 100%;
  text-align: center;
  @include label;
  color: $error;
}

// PASSWORD CHANGE
.password-change_section {
  background-image: url("../../../public/images/password-change-bg.jpg");
}
