@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.section.support_section {
  background-color: transparent;
  position: relative;
}

.support_center {
  width: 100%;
  padding-top: 80px;
  @include flex-col;
  gap: 48px;
  position: relative;

  h2 {
    @include h2(500);
    color: $white;
    align-self: center;
  }
}

.support_center_container {
  @include flex-col;
  gap: 32px;
  align-self: center;

  .support_buttons {
    @include flex-row;
    max-width: 494px;
    border: 1px solid rgba(153, 153, 153, 1);

    .btn {
      height: 48px;
      border: 0;
      border-radius: 0;
      width: 50%;

      transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out,
        border 0.4s ease-in-out;
    }
  }
}

.overlay-bg-support-center {
  @include overlay($white);
  height: 65%;
  background-image: url("../../../public/images/support-center-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1024px) {
  .support_center {
    h2 {
      @include h4(500);
    }
  }

  .support_center_container {
    gap: 24px;

    .support_buttons {
      .btn {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .support_center {
    // padding-top: 100px;
    position: relative;
    padding-left: 0;
    padding-right: 0;

    h2 {
      width: 100%;
      text-align: center;
    }
  }

  .overlay-bg-support-center {
    height: unset;
    aspect-ratio: 2 / 1;
  }

  .support_center_container {
    margin-top: 300px;
    align-items: center;
  }

  .support_buttons {
    width: 100%;

    .btn {
      padding: 10px 5px;
    }
  }
}

@media screen and (max-width: 790px) {
  .support_center_container {
    margin-top: 250px;
  }
}

@media screen and (max-width: 700px) {
  .support_center_container {
    margin-top: 200px;
  }
}

@media screen and (max-width: 580px) {
  .support_center_container {
    margin-top: 150px;
  }
}

@media screen and (max-width: 500px) {
  .support_center_container {
    margin-top: 110px;
  }
}

@media screen and (max-width: 450px) {
  .support_center_container {
    margin-top: 80px;
  }
}

@media screen and (max-width: 400px) {
  .support_center_container {
    margin-top: 60px;
  }
}

@media screen and (max-width: 350px) {
  .support_center_container {
    margin-top: 40px;
  }
}

@media screen and (max-width: 300px) {
  .support_center_container {
    margin-top: 20px;
  }
}

// CREATE TICKET
.create_ticket_container {
  width: 100%;
}

.create_ticket_item_left {
  padding: 36px 40px 40px;
  background-color: $white;
  @include flex-col;
  gap: 20px;
  border-radius: 8px;
  border: 1px solid rgba(245, 245, 245, 1);
}

.create_ticket_item_header {
  @include flex-col;
  gap: 6px;
  color: $black;

  h4 {
    @include h4(500);
  }

  p {
    @include accent2(300);
  }
}

.create_ticket_form {
  @include flex-col;
  gap: 16px;

  .btn {
    margin-top: 4px;
  }
}

.create_ticket_form_item {
  @include flex-row;
  gap: 16px;

  div {
    @include flex-col;
    gap: 8px;
    width: 100%;

    label {
      @include label;
    }

    input {
      @include input-style;
      @include input-text;
    }

    textarea {
      @include textarea;
    }

    input[type="file"] {
      height: 189px;
      border: 1px solid rgba(153, 153, 153, 1);
      border-radius: 4px;
      border-style: dashed;

      @include flex-col-center;
    }
  }
}

@media screen and (max-width: 1024px) {
  .create_ticket_item_left {
    padding: 24px 20px;

    gap: 16px;
  }

  .create_ticket_item_header {
    h4 {
      @include h5(500);
    }

    p {
      @include accent3(300);
    }
  }
}

@media screen and (max-width: 900px) {
  .create_ticket_form_item {
    flex-direction: column;
  }
}

// VIEW TICKETS
.view_ticket_container {
  background-color: $white;
  padding: 32px 40px;
  border-radius: 8px;
  border: 1px solid rgba(245, 245, 245, 1);

  @include flex-col;
  gap: 24px;
  width: 100%;

  h4 {
    color: $black;
    @include h4(500);
  }
}

.view_tickets {
  @include flex-col;
  width: 100%;
  border: 1px solid rgba(195, 195, 195, 1);
  border-bottom: 0;

  div {
    display: grid;
    height: 64px;
    grid-template-columns: 60px repeat(6, minmax(50px, 1fr));
    border-bottom: 1px solid rgba(195, 195, 195, 1);

    span {
      @include flex-col-center;
      border-right: 1px solid rgba(195, 195, 195, 1);
    }

    p {
      @include accent2(500);
      margin-top: auto;
      margin-bottom: auto;
      padding-left: 20px;

      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      line-clamp: 1;
      -webkit-line-clamp: 1;

      &:first-of-type {
        padding-left: 30px;
      }
    }
  }

  .ticket_item {
    p {
      @include accent2(300);

      &:first-of-type {
        color: $blue;
        @include accent2(500);
      }

      &.open {
        @include accent2(400);
        text-transform: capitalize;
        color: $error;
      }

      &.closed {
        @include accent2(400);
        text-transform: capitalize;
        color: $success;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .view_ticket_container {
    padding: 20px;
    gap: 20px;

    h4 {
      @include h6(500);
    }
  }

  .view_tickets {
    overflow-x: scroll;

    div {
      height: 40px;
      width: max-content;
      grid-template-columns: 40px repeat(6, 120px);
      // display: flex;
      gap: 46px;

      span {
        // min-width: 40px;
      }

      p {
        @include accent3(500);
        padding-left: 0;
        // min-width: 100px;
        // width: 100%;
        // max-width: 100%;

        &:first-of-type {
          padding-left: 0;
        }
      }
    }

    .ticket_item {
      span {
        min-width: 40px;
      }

      p {
        @include accent3(300);

        &:first-of-type {
          @include accent3(500);
        }

        &.open {
          @include accent3(400);
        }
      }
    }
  }
}
