@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.section_faqs {
  padding-bottom: 66px;
  padding-top: 60px;
}

.faqs {
  @include flex-row-center;
  width: 100%;
  padding: 40px;
  gap: 40px;
  border: 1px solid rgba(245, 245, 245, 1);
  border-radius: 8px;
}

.faqs_desc {
  @include flex-col;
  gap: 154px;
  justify-content: space-between;
  width: 45%;

  h2 {
    @include h2(600);
    color: $black;
  }
}

.faqs_desc_text {
  @include flex-col;
  gap: 16px;
  border-radius: 8px;
  padding: 28px;
  background-color: $teal-10;

  div {
    @include flex-col;
    gap: 8px;
    color: $black;

    h4 {
      @include h4(500);
    }

    p {
      @include accent2(400);
    }
  }

  .btn {
    width: fit-content;
    height: 40px;
  }
}

.faq_list {
  width: 55%;
  @include flex-col;
  gap: 16px;
  height: 480px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

// .swiper-slide {
// }

.faq_item {
  padding: 24px;
  background-color: rgba(245, 245, 245, 1);
  border-radius: 8px;
  gap: 0;
  @include flex-col;
  transition: height 0.3s ease, gap 0.3s ease 0.1s;

  &.open {
    gap: 14px;
  }
}

.faq_item_header {
  @include flex-row-center;
  gap: 56px;

  p {
    @include accent2(600);
    color: rgba(51, 51, 51, 1);
  }

  div {
    @include flex-row-center;
    cursor: pointer;
    height: 36px;
    aspect-ratio: 1 / 1;
    background-color: $white;
    border: 1px solid rgba(245, 245, 245, 1);
    border-radius: 6px;

    svg {
      transition: transform 0.5s ease-in-out;
      transform: rotate(180deg);
    }
  }

  &.open {
    div {
      svg {
        transform: rotate(0deg);
      }
    }
  }
}

.faq_item_desc {
  color: rgba(102, 102, 102, 1);
  @include accent4(400);
  width: 95%;
  height: 0;
  opacity: 0;
  transition: height 0.3s ease-in-out, opacity 0.4s ease-in-out;

  &.open {
    height: 100%;
    opacity: 1;
  }
}
