@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.select {
  @include flex-col;
  width: 100%;
  position: relative;

  select,
  option {
    display: none;
  }
}

.select_container {
  width: 100%;
  @include select;
  @include flex-row;
  align-items: center;
  justify-content: flex-start;
  text-transform: capitalize;
}

.select_container.big {
  min-height: 60px;
}

.custom_select {
  background-color: $white;
  list-style-type: none;
  border: 1px solid rgba(153, 153, 153, 1);
  transform: scaleY(0);
  height: 0;
  transition: height 0.4s ease, transform 0.4s ease, margin-top 0.4s ease;
  transform-origin: top;

  &.open {
    margin-top: 10px;
    height: 100%;
    transform: scaleY(1);
    padding: 4px 10px;
  }
}

.custom_select.absolute {
  position: absolute;
  width: 100%;

  top: 100%;
  z-index: 1;

  &.open {
    margin-top: 10px;
    height: max-content;
  }
}

.custom_select.absolute.scroll {
  overflow-y: scroll;

  &.open {
    height: 200px;
  }
}

.arrow {
  @include flex-col-center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.custom_option {
  @include accent3(300);
  cursor: pointer;
  color: $black;
  padding: 10px 8px;
  border-bottom: 1px solid rgba(153, 153, 153, 1);
  text-transform: capitalize;

  &:last-of-type {
    border-bottom: 0;
  }
}
.custom_option.currency {
  font-size: 0;

  &::before {
    content: attr(data-currency);
    font-size: 14px;
    @include accent3(300);
  }
}
